# Django
SECRET_KEY=django-insecure-mayila-herbal-change-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,yourdomain.com

# Supabase PostgreSQL
DB_NAME=postgres
DB_USER=postgres.aenenssvaruafzprapsp
DB_PASSWORD=NyumbaChap@123
DB_HOST=aws-0-eu-west-1.pooler.supabase.com
DB_PORT=5432
DB_SSLMODE=require
SITE_URL=https://www.mayila-herbal.co.tz
# Uploadcare
UPLOADCARE_PUBLIC_KEY=4c3ba9de492e0e0eaddc
UPLOADCARE_SECRET_KEY=28410d13b3cb1098451e
